.container {
    max-width: 1200px;
    outline: 1px solid red;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;


    @media (min-width: 448px) {
        width: 448px;
    }



    @media (min-width: 720px) {
        width: 720px;
    }




    @media (min-width: 1200px) {
        width: 1200px;
    }



}